*{
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-family: sans-serif;
}
.logos{
    width: auto;
    height: 60px;
    position: relative;
    left: 50px;
}
.contenedor {
    width: 100%;
    margin: auto;
}
/*-------------------- Estilos de Header---------------------------*/
.header {
    height: 60px;
    background: rgb(255, 255, 255);
}
.header .contenedor {
    display: flex;
    justify-content: space-between;
}
.nav .menu__link{
    list-style: none;
    padding: 0;
    width: 95%;
    max-width: 1000px;
    margin: 20px;
}
.menu__link li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 30px;
    font-size: 20px;
}
.menu__link li{
    display: inline;
    text-align: center;
} 
.menu__link li a:hover{
    background:rgb(228, 107, 107)
}


/*-------------------- Estilos de Banner---------------------------*/
.banner img{
    width: 100%;
}
.banner{
    position: relative;
}
.banner .contenedor img{
    width: 20%;
    position: relative;
    left: 69%;
    top: -150px;
}

/*-------------------- Estilos de main---------------------------*/
.main h1 {
    color: black;
    text-shadow: 1px 2px 2px rgb(255, 255, 255), 0 0 25px rgba(255, 0, 0, 0.568), 0 0 5px rgb(255, 0, 0);
    text-align: center;
    height: auto;
    font-size:60px;
}
.main  .galeria {
    margin: 20px 49px;
    box-shadow: 0 4px 8px 0 lightskyblue,0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 300px;

}
.main  .galeria img {
    width: 100%;
    height: auto;

}
.main .galeria:hover{
    border: 1px solid lightcoral;
    transform:rotate(-10deg);
}
.main .pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
    font-size: 30px;
}

/*-------------------- Estilos de mapa---------------------------*/
.mapa{
    position: flex;
    width: 111%;
    padding-top:1000px;
}
.mapa h3{
    text-align: center;
    font-size: 30px;
    color: rgb(4, 0, 63)
}
.mapa p{
    text-align: center;
    padding: 0.5em;
    font-size: 18px;
}
/*-------------------- Estilos de cursor ---------------------------*/
#cursor {
    transition: 0;
    transform: translate(-50%,-50%);
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
}

    img.cursorr{
    max-width: 45px;
    max-height: 45px;
    filter: drop-shadow(0 4px 5px rgba(29, 27, 27, 0.7))
}