*{
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-family: sans-serif;
}
.logos{
    width: auto;
    height: 60px;
    position: relative;
    left: 50px;
    bottom: -5px;
}
.contenedor {
    width: 100%;
    margin: auto;
}
/*-------------------- Estilos de Header---------------------------*/
.header {
    height: 70px;
    background: rgb(255, 255, 255);
}
.header .contenedor {
    display: flex;
    justify-content: space-between;
}
.nav .menu__link{
    list-style: none;
    padding: 0;
    width: 95%;
    max-width: 1000px;
    margin: 20px;
}
.menu__link li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 30px;
    font-size: 21px;
}
.menu__link li{
    display: inline;
    text-align: center;
} 
.menu__link li a:hover{
    background:rgb(228, 107, 107)
}


/*-------------------- Estilos de Banner slider---------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider{
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.slider ul{
    display: flex;
    animation: cambio 25s infinite alternate cubic-bezier(0.785, 0.135, 0.15, 0.86);
    width: 400%;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider img{
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    padding-bottom: 100px;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media only screen and (min-width:320px) and (max-width:768px){
.slider, .slider ul, .slider img{
    height: 100vh;
}
}

/*-------------------- Estilos de main---------------------------*/
.main h1 {
    color: black;
    text-shadow: 1px 2px 2px rgb(255, 255, 255), 0 0 25px rgba(255, 0, 0, 0.568), 0 0 5px rgb(255, 0, 0);
    text-align: center;
    height: auto;
    font-size:60px;
    padding-top: 30px;
}
.main  .galeria {
    margin: 20px 75px;
    box-shadow: 0 4px 8px 0 lightskyblue,0 6px 20px 0 rgba(0,0,0,0.19);
    float: left;
    width: 300px;

}
.main  .galeria img {
    width: 100%;
    height: auto;

}
.main .galeria:hover{
    border: 1px solid lightcoral;
    transform: rotate(-10deg);
}
.main .pie{
    text-align: center;
    text-shadow: 2px 2px 5px purple;
    padding: 10px;
    font-size: 30px;
}

/*-------------------- Estilos de mapa---------------------------*/
.mapa{
    position: flex;
    width: 100%;
    padding-top:1000px;
    text-align: center;
    
}
.mapa h3{
    text-align: center;
    font-size: 30px;
    color: rgb(4, 0, 63)
    
}
.mapa p{
    text-align: center;
    padding: 0.5em;
    font-size: 18px;
    padding-bottom: 20px;
}
/*-------------------- Estilos de cursor ---------------------------*/
#cursor {
    transition: 0;
    transform: translate(-50%,-50%);
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
}

    img.cursorr{
    max-width: 45px;
    max-height: 45px;
    filter: drop-shadow(0 4px 5px rgba(238, 141, 76, 0.952))
}

/*------- Barra desplazamiento custom -------*/

body::-webkit-scrollbar {
    width: 10px;
  }
  body::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(253, 253, 253, 0.4);
  }
  body::-webkit-scrollbar-thumb {
    background-color: #f53a33;
    border-radius: 10px;
  }