* {
    margin: 0;
    box-sizing: border-box;
}

.body {
    font-family: sans-serif;
}



.logos {
    width: auto;
    height: 64px;
    position: relative;
    left: 50px;
    bottom: -5px;
    filter: drop-shadow(0 4px 7px rgba(238, 141, 76, 0.952))
}

.contenedor {
    width: 100%;
    margin: auto;

}

/*-------------------- Estilos de Header---------------------------*/
.header {
    height: 70px;
    background: rgb(255, 255, 255);
    border-bottom: .1rem solid rgba(0, 0, 0, .2);

}

.header .contenedor {
    display: flex;
    justify-content: space-between;

}

.nav .menu__link {
    list-style: none;
    padding: 0;
    width: 95%;
    max-width: 1000px;
    margin: 20px;
}

.menu__link li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 40px;
    font-size: 21px;
    font-weight: bold;
    filter: drop-shadow(0 4px 7px rgba(238, 141, 76, 0.952))
}

.menu__link li {
    display: inline;
    text-align: center;
}

.menu__link li a:hover {
    background: rgb(228, 107, 107)
}


/*-------------------- Estilos de Banner slider---------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider .contenedor__textt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: CENTER;
    width: 100%;
    color: #fff;
}

.banner__titulo {
    text-shadow: 6px 5px 15px black;
    text-align: center;
    top: 40px;
    position: relative;
    padding: 10px;
    -webkit-text-stroke: 1.3px rgb(255, 255, 255);
    color: transparent;
    filter: drop-shadow(1px 4px 3px rgba(0, 0, 0, 0.7));
    text-shadow: 3px 9px 15px rgb(0, 0, 0);
}

.banner__txt {
    text-shadow: 6px 5px 3px rgb(32, 30, 30);
    top: 30px;
    position: relative;
    filter: drop-shadow(1px 4px 3px rgba(0, 0, 0, 0.7));
    text-shadow: 1px 3px 2px rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

.slider {
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.slider ul {
    display: flex;
    animation: cambio 30s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
    width: 400%;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
    height: 100%;
    filter: brightness(45%);
    padding-bottom: 100px;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

@media only screen and (min-width:320px) and (max-width:768px) {

    .slider,
    .slider ul,
    .slider img {
        height: 100vh;
    }
}


/*-------------------- Estilos de main---------------------------*/

.main h1 {
    color: black;
    text-shadow: 1px 2px 2px rgb(255, 255, 255), 0 0 25px rgba(255, 0, 0, 0.568), 0 0 5px rgb(255, 0, 0);
    text-align: center;
    height: auto;
    font-size: 60px;
    padding-top: 50px;

}

.main .galeria {
    margin: 20px 75px;
    box-shadow: 0 4px 8px 0 lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 300px;
    border-radius: 13px;
}

.main .galeria img {
    width: 100%;
    height: auto;
    border-radius: 13px;
}

.main .galeria:hover {
    border: 1px solid lightcoral;
    transform: rotate(-10deg);
    transition: 0.5s;
}

.main .pie {
    text-align: center;
    text-shadow: 2px 2px 5px rgb(236, 253, 0);
    font-family: "cursiva";
    padding: 10px;
    font-size: 30px;
}

/*--------------Estilos de Article----------------*/



/*-------------------- Estilos de mapa---------------------------*/
.mapa {
    position: flex;
    width: 100%;
    padding-top: 1050px;
    text-align: center;
    padding-bottom: 80px;
}

.mapa iframe {
    filter: drop-shadow(0 4px 5px rgba(238, 141, 76, 0.952));
}

.mapa h3 {
    text-align: center;
    font-size: 30px;
    color: rgb(0, 0, 0);

}

.mapa p {
    text-align: center;
    padding: 0.5em;
    font-size: 18px;
    padding-bottom: 20px;
}

.contacto_ubi {
    color: #EB3349;
}


/*----------------------- Estilos del footer -----------------------*/

.footer-basic {
    padding:40px 0;
    background-color:rgb(233, 39, 39);
    color:rgb(0, 0, 0);
    font-weight: 900;
    font-family: "Georgia, 'Ti";
    writing-mode: horizontal-tb;
    border-top: 10px solid rgb(226, 5, 5);
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:17px;
    line-height:1.6;
    margin-bottom:0;
    color: rgb(29, 6, 6);
    filter: drop-shadow(0 4px 5px rgba(231, 22, 22, 0.699));

  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.952));
  }
  
  .footer-basic .social > a {
    font-size:20px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:40%;
    border:2px solid rgb(255, 255, 255);
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:11px;
    color:rgba(255, 255, 255, 0.822);
    margin-bottom:0;
    margin-top: 50px;
    letter-spacing: 0.25em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 50;
  }

/*-------------------- Estilos de cursor ---------------------------*/
#cursor {
    transition: 0;
    transform: translate(-50%, -50%);
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
}

img.cursorr {
    max-width: 45px;
    max-height: 45px;
    filter: drop-shadow(0 4px 5px rgba(238, 141, 76, 0.952))
}

/*------- Barra desplazamiento custom -------*/

body::-webkit-scrollbar {
    width: 10px;
    background-color: #f1c6c5;
}



body::-webkit-scrollbar-thumb {
    background-color: #f53a33;
    border-radius: 10px;

}

/*---------- CARGAR ---------*/

.contenedorr {
    position: fixed;
    width: 210vh;
    height: 120vh;
    background-color: #f53a33;
    z-index: 9999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .8s ease-in-out;
}

.loader-icon img {
    position: fixed;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.952));
    top: 180px;
    left: 550px;
    width: 20%;
    height: auto;
}

.loader {
    height: 95px;
    display: flex;
    align-items: center;
}

.linea {
    width: 6px;
    height: 95px;
    background: white;
    margin: 0 3px;
    border-radius: 10px;
    animation: loader .8s infinite;
}

.linea:nth-child(2) {
    animation-delay: .1s;
}

.linea:nth-child(3) {
    animation-delay: .2s;
}

.linea:nth-child(4) {
    animation-delay: .3s;
}

.linea:nth-child(5) {
    animation-delay: .4s;
}

.linea:nth-child(6) {
    animation-delay: .5s;
}

.linea:nth-child(7) {
    animation-delay: .7s;
}

.linea:nth-child(8) {
    animation-delay: .8s;
}

@keyframes loader {
    0% {
        height: 0;
    }

    50% {
        height: 95px;
    }

    100% {
        height: 0;
    }
}

/* ----------- estilos del formulario ------ */


.overview{
    padding:2rem 9%;
    background-color: #fff2f2;
    padding-bottom: 115px;

}
.ordenar{
    text-align: center;
    font-size: 3.5rem;
    padding:1rem;
    color:rgb(254, 3, 3);
  }
  
  
  .btn{
    display: inline-block;
    padding:.8rem 3rem;
    border:.2rem solid var(--red);
    color:var(--red);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .7rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
  }
  .boton2{
    display: flex;
    justify-content: center;
  }
  
  .btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background:var(--red);
    transition: .3s linear;
    z-index: -1;
  }
  
  .btn:hover::before{
    width:100%;
    left: 0;
  }
  
  
  
  
  
  
  .order .row{
    padding:2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    background:rgb(255, 217, 217);
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    border-radius: 50px;
    border: 4px dashed;
  }
  
  .order .row .image{
    flex:1 1 30rem;
  }
  
  .order .row .image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    border-radius: .5rem;
  }
  
  .order .row form{
    flex:1 1 50rem;
    padding:1rem;
    background-image: url("https://img.freepik.com/vector-gratis/ondulado-rojo-fondo-semitono_1409-1274.jpg?w=2000");
    width: 100%;
    border-radius: 30px;
    text-align: center;
  }
  
  
  .order .row form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .order .row form .inputBox input, .order .row form textarea{
    padding:1rem;
    margin:1rem 0;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:6px solid rgba(23, 3, 3, 0.893);
    border-radius: .5rem;
    width:49%;
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 20px;
  
  }
  
  .order .row form textarea{
    width:100%;
    resize: none;
    height:15rem;
  }
  
  .order .row form .btn{
  background-color: #ff3838b0;
  border: solid 3px rgb(158, 38, 38);
  text-shadow: 1px 2px 6px rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fff;
  }